<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <title>My Recipes</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main class="container">
            <div class="row row-wrap">
                <% for(let item of data){%>
                    <article class="column column-50" style="padding: 1rem">
                        <h2>
                            <%= item.title %>
                        </h2>
                        <form method="get" action="/api/recipe/<%=item._id %>">
                            <button type="submit">Voir la recipe</button>
                        </form>
                    </article>
                    <% } %>
            </div>

            <hr>

        </main>


        <%- include('partials/footer'); %>
</body>

</html>